@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Reset and basic styling */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', 'Arial', sans-serif;
    background-color: #333; /* Dark gray background */
    color: #fff; /* White text */
}

/* Common styles for all sections */
.my-divs {
    height: 100vh;
    overflow: hidden;
}

/* Navigation buttons and arrows */
#btn1, #btn2, #btn3, #btn4 {
    visibility: hidden;
    position: absolute;
}

.arrow-down::after,
.arrow-up::after {
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
    margin: auto;
    top: 40rem;
    right: 0;
    bottom: 0;
    left: 0;
    border: 4px solid #fff; /* White arrow */
    transform: rotate(45deg);
    cursor: pointer;
}

/* Styling for section div1 */
#div1 {
    background-color: #3498db; /* Blue background */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    padding: 2rem;
}

#div1 h1, #div1 i, #div1 p {
    color: #fff; /* White text */
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.img-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.img-div div {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #e74c3c; /* Reddish background */
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-div div img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

/* Styling for section div2 */
#div2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    background: url('img/computer.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#div2 div {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    height: 100vh;
    width: 100vw;
    padding: 10%;
}

#div2 div img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-top: 10%;
}

#div2 div h1, #div2 div p {
    color: #fff; /* White text */
}

/* Styling for section div3 */
#div3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    padding: 0 10%;
}

#skill_title h1, .skills h3, .skills p {
    color: #fff; /* White text */
    text-shadow: 2px 2px 2px rgba(26, 25, 25, 0.5);
}

.skills h3,
.skills p {
    margin-top: 20px;
}

.skills-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.skills {
    background-color: #555; /* Dark gray background */
    border: 1px solid #333; /* Dark gray border */
    width: 45%;
    margin: 5px;
    padding: 25px;
    height: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skills img {
    width: 50px;
    height: auto;
    margin-bottom: 10px;
}

/* Styling for section div4 */
#div4 {
    background: url('img/computer.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

#div4 h1,
#div4 p {
    margin: 15px;
}

#div4 p {
    font-size: 1.5rem;
}

.overlay {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
}

form {
    padding: 10px;
}

/* Media Query for Mobile View */
@media only screen and (max-width: 600px) {
    .skills {
        width: 100%;
    }
}
